@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url(./src/assets/fonts/Lato-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: url(./src/assets/fonts/Lato-Bold.ttf) format('truetype');
}