{
  "extends": [
    "airbnb/base"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "linebreak-style": [
      "error",
      "windows"
    ],
    "class-methods-use-this": [
      "error",
      {
        "exceptMethods": [
          "showButtons",
          "showSpeech",
          "page0",
          "sound",
          "showImage",
          "showStar",
          "showTranslate",
          "page2"
        ]
      }
    ]
  }
}